<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;" color="primary">
      Aula 7 - Ionic - Armazenando dados com Firebase
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item *ngIf="items.length === 0">
      <ion-label>Nenhum item foi cadastrado</ion-label>
    </ion-item>

    <ion-item-sliding *ngFor="let item of items">
      <ion-item lines="full" button (click)="editItem(item)">
        <ion-label>
          <h2>{{item.name}}</h2>
          <p>{{item.description}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <!--A exclamação indica que o item nunca será nulo-->
        <ion-item-option color="danger" (click)="deleteItem(item.id!)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
